# Core libraries
torch>=2.0.0
transformers>=4.40.0
datasets==3.6.0
pandas>=2.0.0
evaluate

# Web / Dashboard
streamlit>=1.26.0

# Utilities
huggingface-hub>=0.35.0
shutilwhich>=1.1.0

# Weights&bias
wandb>=0.21.4
